# Vagrant
.vagrant/

# VirtualBox
*.vdi
*.vbox
*.vbox-prev
*.log

# ISO
*.iso

# Ansible retry files
*.retry

# Python
__pycache__/
.venv/

# Temporary files
*.tmp
*.out

# OS files
.DS_Store
Thumbs.db